@use '../../themes.scss';

.header-element {
  z-index: 5;
  color: themes.$color4;
  text-shadow: 0 2px 2px themes.$color3-shadow;
  background-color: themes.$color1;
  width: 100%;
  box-shadow: 0 4px 5px themes.$color1-shadow;
}

.header-username {
  display: flex;
}
