//@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap);
/*
remove after colors are fully sorted
//$light-green: #36b06f;
$dark-green: #001f3d;
$light: #045174;
$gray: #d89c60;
$white: #e87a00;
*/
$color1: #001f3d;
$color2: #045174;
$color3: #d89c60;
$color4: #e87a00;
$color1-shadow: #001e3d70;
$color2-shadow: #0451744f;
$color3-shadow: #d89c604f;
$color4-shadow: #e87a004f;

* {
  font-family: 'Montserrat', sans-serif;
}
/*
h4 {
  font-family: 'staatliches';
}
*/
.app-container {
  background-color: $color2-shadow;
}

.component-container {
  height: 100vh;
}

.display-errors {
  color: red;
}

.btn-primary {
  background-color: $color1 !important;
  border: 1px solid $color2 !important;
}
