@use './themes.scss';

* {
  font-family: 'Merriweather', serif;
}
.app-container {
  background-color: themes.$color4-shadow;
}

html,
body {
  background-image: url('./theater-background.jpg');
  background-size: cover;
}

.component-container {
  height: 100vh;
}

.display-errors {
  margin-top: 5px;
  padding-left: 15px;
  color: themes.$error-text;
}

.basic-component-background {
  color: themes.$color5;
  background-color: themes.$color2 !important;
  border-radius: 0 !important;
}

.basic-card-styling {
  color: themes.$color5;
  background-color: themes.$color2 !important;
  border-radius: 0 0 1px 1px;
}

.form-label {
  margin-top: 5px;
  margin-bottom: 1.5px !important;
}

.btn-primary {
  color: themes.$color1 !important;
  background-color: themes.$color3 !important;
  border: 1px solid themes.$color1 !important;
  margin: 0 1px !important;
}

@media screen and (max-width: 767px) {
  .movie-image {
    display: none;
  }
  .header-username {
    display: none;
  }
}
