//@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap);
/*
remove after colors are fully sorted
//$light-green: #36b06f;
$dark-green: #001f3d;
$light: #045174;
$gray: #d89c60;
$white: #e87a00;
*/

$color1: #001f3d;
$color2: #045174;
$color3: #d89c60;
$color4: #e87a00;
$color5: white;
$color1-shadow: #001e3d70;
$color2-shadow: #0451744f;
$color3-shadow: #d89c604f;
$color4-shadow: #e87a004f;
$error-text: rgb(255, 217, 0);

* {
  font-family: 'Merriweather', serif;
}

.app-container {
  background-color: $color4-shadow;
}
/*
body {
  background-image: url('theater-background.jpg');
  background-size: cover;
}
*/
.component-container {
  height: 100vh;
}

.display-errors {
  margin-top: 5px;
  padding-left: 15px;
  color: $error-text;
}

.basic-component-background {
  color: $color5;
  background-color: $color2 !important;
  border-radius: 0 !important;
}

.basic-card-styling {
  color: $color5;
  background-color: $color2 !important;
  border-radius: 0 0 1px 1px;
}

.form-label {
  margin-top: 5px;
  margin-bottom: 1.5px !important;
}

.btn-primary {
  color: $color1 !important;
  background-color: $color3 !important;
  border: 1px solid $color1 !important;
  margin: 0 1px !important;
}
