$color1: #001f3d;
$color2: #045174;
$color3: #d89c60;
$color4: #e87a00;
$color5: white;
$color1-shadow: #001e3d70;
$color2-shadow: #0451744f;
$color3-shadow: #d89c604f;
$color4-shadow: #e87a004f;
$error-text: rgb(255, 217, 0);
